@import "tailwindcss";

@theme inline {
      --color-background: var(--color-background);
        --color-foreground: var(--color-text-primary);
          --font-sans: var(--font-family-primary);
            --font-mono: var(--font-family-mono);
}
